body {
  margin: 0;
  font-family: "Pacifico", "Baloo 2", cursive, sans-serif;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#game-container {
  position: relative; /* Батьківський контейнер для position: absolute елементів. Зсуває елемент, але його "місце" лишається */
  width: 800px;
  height: 500px;
  margin: 20px auto;
  overflow: hidden; /* напр. Зображення більше, але видно буде тільки частину 800×400 пікселів. */
  background: url("images/7575632.svg") center/cover no-repeat;
  /* рамка */
  border: 20px solid transparent; /* колір рамки прозорий */
  border-image-source: url("images/7532353.jpg");
  border-image-slice: 30; /* налаштувати під малюнок */
  border-image-repeat: round;
  border-image-width: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.character {
  position: absolute;
  width: 59px;
  height: 80px;
  background-image: url(images/character.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  /* без анімації та ефектів */
}

.balls {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgb(0, 27, 136);
  border-radius: 50%;
  box-shadow: 0 0 10px 2px rgba(0, 174, 255, 0.8);
}
.experiment-ball {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgb(7, 3, 253);
  border-radius: 50%;
  box-shadow: 0 0 15px 4px rgb(7, 3, 253);
  border: 2px solid rgb(7, 3, 253);
  z-index: 2;
  animation: pulse-important 1s infinite;
}
/* пульсація */
@keyframes pulse-important {
  0% {
    transform: scale(1);
    box-shadow: 0 0 15px 4px rgb(7, 3, 253);
    opacity: 1;
  }
  50% {
    transform: scale(1.4);
    box-shadow: 0 0 30px 10px rgb(165, 158, 232), 0 0 20px 8px rgb(7, 3, 253);
    opacity: 0.85;
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 15px 4px rgb(7, 3, 253);
    opacity: 1;
  }
}
#points {
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
}
